body {
    background-color: #649FB0;
    font-family: 'Cutive Mono', monospace;
    color: black;   
    margin: 20px;
}

h1 {
    font-size: 5em;
    text-align:center;
}

#title-header {
    font-family: 'Monoton', cursive;
    /* color: yellow;
    text-shadow: 6px 8px black;
    text-align: center; */
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    /* font-family: sans-serif; */
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                 -8px 8px #f48fb1,
                 -12px 12px #7e57c2,
                 -16px 16px #2196f3,
                 -20px 20px #26c6da,
                 -24px 24px #43a047,
                 -28px 28px #eeff41,
                 -32px 32px #f9a825,
                 -36px 36px #ff5722;

}
#prompt {
    font-family: 'Titan One', cursive;
    text-align: left;
}

#emotion-title {
    margin-left: 30px;
}

.container {
    display: flex;
}

.emotion-images {
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    margin-left: 200px;
    
}

.emotion-images img {
    display: flex;
    margin-top: auto;
    width:auto;
    height:200px;
}

.emotion-images div {
    padding: 10px;
}

nav {
    place-items: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

nav div {
    margin-left: 100px;
    min-width: 125px;
    max-width: 300px;
}

input.btn {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    vertical-align: middle;
    font-size: 30px;
}

label.control-label {
    font-family: 'Cutive Mono', bold;
    font-weight: 8px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

.img-description {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
}

.hover-div:hover .img-description {
    display: inline-block;
    visibility: visible;
    opacity: 1;
}

.hover-div:hover {
    transform: scale(1.5);
}

.image-style {
    width: 50px; 
    height: 50px; 
    padding: 10px;
}

#emotions-list button{
    margin: 2%;
    border: 10px;
    padding: 5%;
    min-width: 120px;
    max-width: 290px;
    text-align: center;
    font-family: 'Titan One', cursive;
    letter-spacing: 1px;
    font-size: 24px;
    /* color: # */
    
}

button > img {
    height: 20px;
    margin: 1%;
    vertical-align: middle;
}
/* .rainbow-letters {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */